@media screen and (max-width: 767px) {

	.body {
		position: relative;
		background: #F3F5FC;
	}

	.imagemDecode {
		display: none;
	}

	.logo {
		position: absolute;
		left: 4%;
		top: 2%;
	}

	.botaoCripto {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		padding: 24px;
		gap: 8px;
		position: absolute;
		width: 90vw;
		height: 67px;
		left: 16px;
		top: 485px;
		
		background: #0A3871;
		border-radius: 24px;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: #FFFFFF;
	}

	.botãoDescripto {

		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		padding: 24px;
		gap: 8px;
		position: absolute;
		width: 90vw;
		height: 67px;
		left: 16px;
		top: 580px;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;

		color: #0A3871;
		background: #F3F5FC;
		border-radius: 24px;
	}

	.caixaEscrita {
		position: absolute;
		width: 80vw;
		left: 16px;
		top: 12vh;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 150%;
		color: #0A3871;

		border: none;
		outline: none;
		box-shadow: none;
		min-height: 40vh;
		
		resize: none;
	}

	.aviso {
		position: absolute;

		width: 260px;
		height: 18px;

		display: flex;
		align-items: center;

		left: 5%;
		top: 460px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;

		color: #343A40;
	}

	.caixaRet {
		display: flex;
		flex-direction: column;
		padding: 32px;
		gap: 32px;
		align-items: center;


		position: absolute;
		width: 70%;
		height: 130px;
		left: 20px;
		top: 700px;

		background: #FFFFFF;
		box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
		border-radius: 32px;
	}

	.textoRet_Cima {
		position: absolute;
		width: 80vw;
		height: 58px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
		top: 750px;
		left: 35px;

		text-align: center;

		color: #343A40;

		flex: none;
		order: 0;
		align-self: stretch;
	}

	.textoRet_Baixo {
		position: absolute;
		width: 70vw;
		height: 48px;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;

		top: 800px;
		left: 50px;
		text-align: center;
		color: #495057
	}

	.textoEspelhado {

		position: absolute;
		width: 75vw;
		height: 22vh;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;
		word-wrap: break-word;
		overflow: auto;

		top: 750px;
		left: 50px;
		color: #495057;

		flex: none;
		order: 0;
		align-self: stretch;
		flex-grow: 0;
		flex-shrink: 0;
	}

	.copiar {

		position: relative;
		box-sizing: border-box;

		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		padding: 24px;
		gap: 8px;

		width: 90vw;
		height: 67px;

		top: 925px;
		left: 20px;
		border-radius: 24px;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;

		color: #0A3871;
	}
}

/* TABLET =======================================================================================================================*/
@media screen and (min-width: 768px){
	.logo {
		position: absolute;
		width: 31.09px;
		height: 50.58px;
		left: 40px;
		top: 73.42px;
	}

	.imagemDecode {
		display: none;
	}

	.caixaEscrita {
		position: absolute;
		width: 688px;
		height: 48px;
		left: 40px;
		top: 240px;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 150%;
		color: #0A3871;

		border: none;
		outline: none;
		box-shadow: none;
		min-height: 60vh;
		resize: none;
	}

	.aviso{
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0px;
		gap: 8px;

		position: absolute;
		left: 40px;
		top: 836px;
		width: 270px;
		height: 18px;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;

		color: #495057;
	}

	.botaoCripto {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0px;
		gap: 24px;

		position: absolute;
		height: 67px;
		left: 40px;
		top: 870px;

		width: 332px;
		height: 67px;

		background: #0A3871;
		border-radius: 24px;
		
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;

		color: #FFFFFF;
	}

	.botãoDescripto {

		position: absolute;
		width: 688px;
		height: 67px;
		left: 410px;
		top: 870px;

		box-sizing: border-box;

		display: flex;
		align-items: center;
		justify-content: center;
		padding: 24px;
		gap: 8px;
		width: 332px;
		height: 67px;
		border-radius: 24px;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: #0A3871;
	}

	.caixaRet{

		display: flex;
		padding: 32px;
		gap: 32px;

		position: absolute;
		width: 640px;
		height: 133px;
		left: 40px;
		top: 1001px;
		background: #FFFFFF;
		box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
		border-radius: 32px;
	}

	.textoRet_Cima {
		display: flex;
		padding: 32px;
		gap: 32px;

		position: absolute;
		height: 133px;
		left: 40px;
		top: 1001px;
		width: 624px;
		justify-content: center;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
		text-align: center;
		color: #343A40;
	}

	.textoRet_Baixo {
		display: flex;
		padding: 32px;
		gap: 32px;

		position: absolute;
		width: 688px;
		height: 133px;
		left: 40px;
		top: 1050px;
		justify-content: center;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		text-align: center;

		color: #495057;
	}

	.textoEspelhado {

		position: absolute;
		width: 670px;
		height: 160px;
		top: 1010px;
		left:70px;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;

		color: #495057;

		word-wrap: break-word;
		overflow: auto;
	}

	.copiar {
		position: relative;
		display: flex;

		padding: 24px;
		top: 138vh;
		left: 320px;

		height: 50px;

		border-radius: 24px;

		width: 150px;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;

		color: #0A3871;
	}
}


/*DESKTOP================================================================================================================== */
@media screen and (min-width: 1024px) {
	

	body {
		background: #E5E5E5;
		position: relative;
		
	}
	
	.logo{
		position: absolute;
		left: 5%;
		padding: 2%;
	}

	.caixaEscrita{
		position: absolute;
		width: 30vw;
		
		left: 18%;
		top: 12vh;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 150%;


		color: #0A3871;
		border: none;
		background: #E5E5E5 ;
		outline: none;
		box-shadow: none;
		min-height: 60vh;
		resize: none;
	}

	.aviso{
		
		position: absolute;
		width: 270px;
		height: 18%;
		left: 15%;
		top: 79vh;
		display: flex;
		align-items: center;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;	
		color: #495057;
		
		opacity: 0.8;
		
		flex: none;
		order: 1;
		flex-grow: 0;
	}

	.botaoCripto {
		display: flex;
		position: absolute;
		align-items: center;

		width: 22%;
		height: 8vh;

		left: 15%;
		top: 80vh;
	
		background: #0A3871;
		border-radius: 24px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: #FFFFFF;
		
	}

	.botãoDescripto {
		position: absolute;
		
		width: 22%;
		height: 8vh;
		left: 38%;
		top: 80vh;
		background: #D8DFE8;
		border-radius: 24px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: #0A3871;

	}

	.copiar{

		display: flex;
		justify-content: space-around;
		align-items: center;
		
		gap: 8px;
		
		position: absolute;
		width: 25VW;
		max-width: 588px;
		height: 5vh;
		left: 72.5%;
		top: 80vh;
		
		border-radius: 24px;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-align: center;

		color: #0A3871;

		flex: none;
		order: 0;
		flex-grow: 1;

	}



	.caixaRet {

		position: absolute;

		width: 25%;
		height: 88vh;
		left: 70%;
		top: 1vh;
		background: #FFFFFF;
		
		box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
		border-radius: 32px;
	z-index: 0;

	}

	.textoEspelhado {
		position: absolute;
		width: 25vw;
		height: 70vh;
		left: 73%;
		top: 5vh;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;
		word-wrap: break-word;
		max-height: 70vh;
		overflow: auto;
		color: #495057;
	}



	.imagemDecode {
		position: absolute;
		width: 20vw;
		max-width: 281px;
		left: 77vw;
		top: 8vh;
		display: inline;
	}


	.textoRet_Cima {
		
		position:absolute;
		width: 25%;
		left: 70%;
		top: 35vh;
		

		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-size: 2.2vh;
		line-height: 120%;

		text-align: center;

		color: #343A40;

		flex: none;
		order: 0;
		align-self: stretch;
		flex-grow: 0;
	}

	.textoRet_Baixo {

		position: absolute;
		width: 25%;
		
		left: 70%;
		top: 40vh;
		
		
		font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;

		text-align: center;

		color: #495057;

		flex: none;
		order: 1;
		align-self: stretch;
		flex-grow: 0;
	}
}